*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightsalmon;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    height: 200px;
    background-color: black;

}
header{
    margin-top: 10%;
}

h1{ 
    font-size: 100px;
    margin-left: 40%;
    color: white;
    background-color: black;
}

li{
    margin-left: 5%;
    font-size: 100px;
    color: white;
}
a:hover{
    color: crimson;
}