*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightsalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 100px;
    background-color: black;
    padding-top: 50px;

}
h1{ 
    font-size: 3em;
    margin-left: 40%;
    color: white;
    background-color: black; 
}
section{
    height: 1000px;
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
}



section ol li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1em;
    margin-left: 2%;
    align-items: center;
}
section ol li a:hover{
    color: crimson;
}

    

