*{
    margin: 0;
    padding: 0;
    background-color: teal;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

nav{
    height: 20VH;
    background-color: black;

}
header{
    
    width: 100%;
    
    
}
h1{ 
    font-size:4em;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    
}

 img {
    filter: saturate(0);
}

a:hover img {
    filter: saturate(1); 
}
.desc{
    font-size: 1em;
    color: white;
    margin-left: 50px;
}
.galeria{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2em; 
    margin-left: 250px;
}
.galeria img {
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;  
    height: 300px;
    object-fit: cover; 
}

