

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Sirin+Stencil&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Sarina&family=Sirin+Stencil&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Sarina&family=Sirin+Stencil&family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Sarina&family=Sirin+Stencil&family=Sixtyfour+Convergence&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lexend+Deca:wght@100..900&family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Sarina&family=Sirin+Stencil&family=Sixtyfour+Convergence&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lacquer&family=Lexend+Deca:wght@100..900&family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Sarina&family=Sirin+Stencil&family=Sixtyfour+Convergence&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lacquer&family=Lexend+Deca:wght@100..900&family=Roboto+Slab:wght@100..900&family=Rubik+Marker+Hatch&family=Saira+Stencil+One&family=Sarina&family=Sirin+Stencil&family=Sixtyfour+Convergence&family=Spicy+Rice&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


  
header{
    height:50px;
    width: 99%;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
}
section{
    background-color:rgb(220, 225, 225);
    width: 99%;
    height: 100vh;
    
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items:flex-start;
    padding-top: 2%;
    
    
}
h1{
    font-size: 2em;
    color: white;
    
}
#tipografia > div{
    width: 25%;
    height: auto;
    background-color: white;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 8px;
    

}
.sirin-stencil-regular  {
    font-family: "Sirin Stencil", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    
    
}
  
.sixtyfour-convergence-uniquifier  {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
}
.sarina-regular {
    font-family: "Sarina", cursive;
    font-weight: 400;
    font-style: normal;
}
  .lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}
  .spicy-rice-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

  
  .lexend-deca-uniquifier {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} 
  .architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}
.rubik-marker-hatch-regular {
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
        
