
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* Resetear márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f5e4d3;
    background-color: #000;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
   
}

/* Sección Izquierda: Imagen */
.left-section {
    flex: 1;
    background: url(img/m.jpg) no-repeat center center/cover;
}

/* Sección Derecha: Contenido */
.right-section {
    flex: 1;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: #f5e4d3;
    line-height: 1.1;
}





/* Botones de enlaces */
.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px; /* Equidistancia con espacio fijo */
    margin: 2rem 0;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #f5e4d3;
    border: 2px solid #f5e4d3;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #f5e4d3;
    color: #000;
}


/* Menú Lateral */
.side-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #111;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%; /* Equidistancia en el menú */
    padding: 0;
}

.side-menu a {
    color: #f5e4d3;
    text-decoration: none;
    font-size: 0.9rem;
    transform: rotate(90deg);
    display: inline-block;
}

.side-menu .active a {
    font-weight: bold;
    border-left: 3px solid #f5e4d3;
    padding-left: 0.5rem;
}

