body {
    padding-left: 80px;
    padding-right: 80px;
    background-color: red;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    color: beige; 
    font-size: 20px;
    
}

h2 {
    color: beige;
    font-size: 10pt;
}


#milista{
    color: white;
    font-size: 10pt;
    list-style: none;
    
}
#miparrafo{
    color:beige;
    font-size: 10pt;
}

#Inicio{
    background-image: url("img/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding-left: 500px;
    

}

#listainicio{
    color: black;
    list-style-type: none;
    
}

#listainicio li{
   display: inline-block;

}

#Central{
    background-color: black;
    height: 500px;

}

#Pie{
    background-color: black;
    height: 100px;

}

#algunsitio:hover{
    color: aqua;
    text-decoration: line-through;
}
